Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-import to ^2.25.4
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.1.6
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.1.7
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency @commitlint/cli to v16.0.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @next/eslint-plugin-next to ^12.0.8
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to ^25.7.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: add new jest/prefer-* rules
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: add new @next/next/no-head-element rule
  rules/next.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(deps): reset lockfile
  yarn.lock
Due: none

chore(release): 6.3.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

chore(build): fix commitlint hook and CI tests
  .github/workflows/release.yml
  .github/workflows/test.yml
  .husky/commit-msg
Due: none

chore(build): switch to semantic-release
  .github/workflows/release.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

docs: update release instructions
  CONTRIBUTING.md
Due: none

fix(deps): update dependency eslint to ^8.7.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency semantic-release to v19
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.2.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency @commitlint/cli to v16.0.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.2.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency @commitlint/cli to v16.1.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.2.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @babel/core to ^7.16.12
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.3.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to v26
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.3.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Path conditions:
  node ./bin/eslint-globex -c index.js . --fix: any of: *.js
  prettier-package-json --use-tabs --write ./package.json: any of: package.json
