Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"node ./bin/eslint-globex -c index.js . --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}

fix(deps): update typescript-eslint monorepo to ^5.13.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: enable typescript rules
  .husky/commit-msg
  rules/typescript.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(build): update lock file
  yarn.lock
Due: none

Notes added by 'git notes add'
  615406445e0574365c3895e52d345ed4b828bc51
Due: none

chore(deps): update dependency lint-staged to v12.3.5
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: change react/jsx-fragments rule from element to syntax
  rules/react.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore: make commit-msg git hook executable
  .husky/commit-msg
  yarn.lock
Due: none

fix(deps): update typescript-eslint monorepo to ^5.14.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint to ^8.11.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-react to ^7.29.4
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update babel monorepo to ^7.17.7
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.15.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency @commitlint/cli to v16.2.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.3.6
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.3.7
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @babel/core to ^7.17.8
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to ^26.1.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

build: add testing of changes against real repos
  .github/workflows/integration.yml
  .github/workflows/workflow.yml
Due: none

Notes added by 'git notes add'
  cb9a976543b0bf3b0c0e5d445c360b41b706d4a0
Due: none

fix(deps): update typescript-eslint monorepo to ^5.16.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @next/eslint-plugin-next to ^12.1.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to ^26.1.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint to ^8.12.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.17.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json
