Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"node ./bin/eslint-globex -c index.js . --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}

chore(release): 3.3.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Reset lock file
  yarn.lock
Due: none

chore(release): 3.3.1
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Update deprecate rule name and bump ecamversion
  index.js
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix

feat: Add jest/no-interpolation-in-snapshots rule
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

Minor README update
  README.md
Due: none

chore(release): 3.4.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: change ecmaVersion to 2021
  index.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat!: rename jest/no-test-callback to jest/no-done-callback
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

build(deps): reset lock file
  yarn.lock
Due: none

chore(release): 4.0.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Switch to dependabot's config yml
  .github/dependabot.yml
Due: none

build(deps-dev): Bump eslint and eslint-plugin-jest to latest versions
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(release): 4.0.1
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: disable flowtype/require-return-type to encourage type inference
  rules/flowtype.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: bump react.flowVersion setting to 0.134.0
  rules/flowtype.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: disable promise/no-native rule
  index.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(release): 4.1.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

chore(release): 4.1.1
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

build: revert yarn 2 upgrade because it's not supported by dependabot
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: add no-nonoctal-decimal-escape rule
  index.js
Due: node ./bin/eslint-globex -c index.js . --fix

build: lockfile upgrades
  yarn.lock
Due: none

chore(release): 4.2.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: add no-unsafe-optional-chaining rule
  index.js
Due: node ./bin/eslint-globex -c index.js . --fix

build: yarn.lock update
  yarn.lock
Due: none

chore(release): 4.3.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: add react/jsx-no-constructed-context-values and react/jsx-newline rules
  rules/react.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(release): 4.4.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

BREAKING CHANGE: Migrate from babel-eslint to @babel/eslint-parser
  index.js
  package.json
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

build(deps): bump eslint-plugin-sonarjs from 0.5.0 to 0.6.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

BREAKING CHANGE: Migrate from husky 4 to husky 5
  .husky/.gitignore
  .husky/post-merge
  .husky/post-rebase
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(release): 5.0.0-beta.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

docs: changelog update
  CHANGELOG.md
Due: none

chore(release): 5.0.0-beta.1
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Minor package upgrades
  .husky/.gitignore
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json
