Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"node ./bin/eslint-globex -c index.js . --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}

chore(deps): update dependency lint-staged to v12.3.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint to ^8.8.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @next/eslint-plugin-next to ^12.0.9
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: add typescript rule set
  README.md
  rules/typescript.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(deps): add missing typescript dependencies
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): reset lockfile
  yarn.lock
Due: none

docs: update docs for TypeScript usage
  README.md
  rules/typescript.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: disable `@typescript-eslint/no-magic-numbers` rule
  rules/typescript.js
Due: node ./bin/eslint-globex -c index.js . --fix

fix(deps): update dependency @next/eslint-plugin-next to ^12.0.10
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.10.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.3.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update babel monorepo to ^7.17.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to ^26.1.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.11.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @babel/core to ^7.17.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: update to latest jest plugin rules
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

fix(deps): update dependency eslint to ^8.9.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update commitlint monorepo to v16.2.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.3.4
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.12.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to ^26.1.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @babel/core to ^7.17.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @babel/core to ^7.17.4
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @babel/core to ^7.17.5
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json
