Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"node ./bin/eslint-globex -c index.js . --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}

fix(deps): update dependency @babel/core to ^7.17.12
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.24.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.25.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-react to ^7.30.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @babel/core to ^7.18.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: deprecate @typescript-eslint/no-duplicate-imports rule
  rules/typescript.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: enable react/jsx-no-leaked-render rule
  rules/react.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(deps): reset lockfile
  yarn.lock
Due: none

Notes added by 'git notes add'
  e904e413904f29d7b960279f21bcf9e2b6263464
Due: none

fix: use import/no-duplicates rule for TypeScript
  rules/typescript.js
Due: node ./bin/eslint-globex -c index.js . --fix

Notes added by 'git notes add'
  493b962e2e0ca4dcb314d7670056087d444ce7db
Due: none

fix(deps): update dependency eslint to ^8.16.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.26.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.4.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency @commitlint/cli to v17.0.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update babel monorepo to ^7.18.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to ^26.4.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to ^26.4.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: enable new jest/prefer-hooks-in-order rule
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

fix(deps): update dependency eslint-plugin-jest to ^26.4.5
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.4.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @typescript-eslint/eslint-plugin to ^5.27.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to ^26.4.6
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @typescript-eslint/parser to ^5.27.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.5.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json
