Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./packages/core/bin/eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"node ./packages/core/bin/eslint-globex . --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}

feat: enable new no-unsafe-enum-comparison rule
  packages/typescript/index.js
  pnpm-lock.yaml
Due: node ./packages/core/bin/eslint-globex . --fix

fix: switch vitest vitest/prefer-mock-promise-shorthand name
  packages/vitest/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

build(deps): upgrade to latest node and pnpm versions
  .github/workflows/integration.yml
  .github/workflows/workflow.yml
Due: none

build: try to fix integrations tests
  .github/workflows/workflow.yml
Due: none

build: try to fix integrations tests
  .github/workflows/integration.yml
Due: none

docs: minor license copyright date update
  LICENSE
Due: none

feat: update rules as per @typescript-eslint plugin changes
  README.md
  packages/typescript/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: update import/no-duplicates rule to prefer-inline
  packages/core/index.js
  packages/typescript/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

build: attempt to fix release CI
  .github/workflows/workflow.yml
Due: none

feat: switch import/consistent-type-specifier-style to prefer-inline
  packages/core/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

build: set pnpm version on CI
  .github/workflows/workflow.yml
Due: none

build: attempt to fix broken semantic release scripts
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --use-tabs --write ./package.json

chore: revert custom resolutions
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: disable react/prefer-read-only-props rule
  packages/react/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: re-enable react/boolean-prop-naming rule
  packages/react/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: remove deprecated no-return-await rule
  packages/core/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

chore(build): switch to dynamic pnpm version
  .github/workflows/integration.yml
  pnpm-lock.yaml
Due: none

feat: migrate deprecated rule to no-object-constructor
  packages/core/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

chore(build): disable testing against haus.gg
  .github/workflows/integration.yml
Due: none

breaking: mark package as deprecated
  README.md
Due: none

fix: wrong markdown syntax
  README.md
Due: none

feat: disable renovate
  .github/renovate.json
Due: none
