Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.5.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update commitlint monorepo to v17.0.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint to ^8.17.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to ^26.5.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to ^26.5.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.27.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v13.0.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency semantic-release to v19.0.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Notes added by 'git notes add'
  1269e601b6c2c9970ebb2be5f212bea5e8ed1398
Due: none

chore(deps): reset lockfile
  yarn.lock
Due: none

fix(deps): update dependency @babel/core to ^7.18.5
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.28.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: enable new @typescript-eslint/consistent-generic-constructors rule
  rules/typescript.js
Due: node ./bin/eslint-globex -c index.js . --fix

fix(deps): update dependency eslint-plugin-react-hooks to ^4.6.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v13.0.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: update next plugin rules
  rules/next.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: disable missing @next/next/no-assign-module-variable rule
  rules/next.js
Due: node ./bin/eslint-globex -c index.js . --fix

Notes added by 'git notes add'
  db49c5eccc38ba6e946310dfa539a3093ad73252
Due: none

feat: re-enable @next/next/no-assign-module-variable rule
  rules/next.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore: disable jest/max-expects rule
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: enable prefer-mock-promise-shorthand rule
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

Notes added by 'git notes add'
  64c2c31cd8b323add2cf657709c8c671fb90e519
Due: none

feat: enable jest/prefer-each rule
  package.json
  rules/jest.js
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

Path conditions:
  node ./bin/eslint-globex -c index.js . --fix: any of: *.js
  prettier-package-json --use-tabs --write ./package.json: any of: package.json
