Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./packages/core/bin/eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

chore(deps): reset lockfile
  packages/core/bin/eslint-globex.js
  yarn.lock
Due: node ./packages/core/bin/eslint-globex . --fix

chore(build): version up
  packages/core/package.json
  packages/flowtype/package.json
  packages/jasmine/package.json
  packages/jest/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/typescript/package.json
  packages/vitest/package.json
Due: prettier-package-json --use-tabs --write ./package.json

fix: add JSX global for TypeScript
  packages/typescript/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: enable new no-unsafe-declaration-merging rule
  packages/typescript/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

build: version up
  packages/core/package.json
  packages/flowtype/package.json
  packages/jasmine/package.json
  packages/jest/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/typescript/package.json
  packages/vitest/package.json
Due: prettier-package-json --use-tabs --write ./package.json

chore(build): version up
  packages/core/package.json
  packages/flowtype/package.json
  packages/jasmine/package.json
  packages/jest/package.json
  packages/next/package.json
  packages/react/package.json
  packages/typescript/package.json
  packages/vitest/package.json
Due: prettier-package-json --use-tabs --write ./package.json

build: switch from husky to lefthook
  .husky/commit-msg
  .husky/post-merge
  .husky/post-rebase
  .husky/pre-commit
  .lintstagedrc
  lefthook.yml
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix: fix for commitlint tests in lefthook
  lefthook.yml
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

fix: remove lefthook.yml from npm package
  .npmignore
Due: none

feat: enable new ESlint 8.27.0 rules
  packages/core/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

fix: invalid lefthook eslint command
  lefthook.yml
Due: none

chore(deps): reset lockfile
  yarn.lock
Due: none

feat: enable "array-element-newline" rule
  packages/core/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: enable "id-length" rule
  packages/core/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: enable "import/no-webpack-loader-syntax'" rule
  packages/core/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: enable `require-atomic-updates` rule
  packages/core/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: enable `sort-keys` rule
  packages/core/index.js
  packages/flowtype/index.js
  packages/jasmine/index.js
  packages/jest/index.js
  packages/node/index.js
  packages/react/index.js
  packages/typescript/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: enable new vitest/no-focused-tests rule
  packages/vitest/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

fix: disable deleted vitest rules
  packages/vitest/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

build: migrate to pnpm
  .github/workflows/integration.yml
  .github/workflows/workflow.yml
  .gitignore
  .npmignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  README.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

build: fix stale lockfile
  pnpm-lock.yaml
Due: none

build: fix typo in CI script
  .github/workflows/workflow.yml
Due: none

build: try with --fix-lockfile
  .github/workflows/integration.yml
Due: none

build: try with --no-frozen-lockfile
  .github/workflows/integration.yml
  .github/workflows/workflow.yml
Due: none

build: attempt to fix pnpm link command
  .github/workflows/integration.yml
Due: none

build: try to pnpm link with glob pattern
  .github/workflows/integration.yml
Due: none

build: try just core
  .github/workflows/integration.yml
Due: none

build: try linking all manually
  .github/workflows/integration.yml
Due: none

build: try keeping yarn for intergration tests
  .github/workflows/integration.yml
Due: none

build: disable integration tests
  .github/workflows/integration.disabled
Due: none

feat: enable new vitest rules
  packages/vitest/index.js
  pnpm-lock.yaml
Due: node ./packages/core/bin/eslint-globex . --fix

build(deps): update lockfile
  pnpm-lock.yaml
Due: none

build: update lock file
  pnpm-lock.yaml
Due: none

chore(build): lockfile reset
  pnpm-lock.yaml
Due: none

Path conditions:
  node ./packages/core/bin/eslint-globex . --fix: any of: *.js
  prettier-package-json --use-tabs --write ./package.json: any of: package.json
