Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

chore(release): 5.0.0-beta.2
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

build(deps): minor package upgrades
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(release): 5.0.0-beta.3
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

build(deps): bump husky from 5.1.1 to 5.1.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(release): 5.0.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

build: reduce size of npm package
  .npmignore
Due: none

feat: enable no-internal-flow-type rule and bump flow version
  rules/flowtype.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore: update jest rules
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore: bump yarn.lock file
  yarn.lock
Due: none

Minor package upgrades
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

build(deps-dev): minor package upgrades
  index.js
  package.json
  rules/flowtype.js
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

bug: minor npmignore update for husky 6
  .npmignore
Due: none

chore(release): 5.1.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: enable react/prefer-read-only-props rule
  rules/react.js
Due: node ./bin/eslint-globex -c index.js . --fix

bug: temporarily disable react/boolean-prop-naming rule
  rules/react.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(release): 5.2.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: upgrade to latest flow plugin rules
  package.json
  rules/flowtype.js
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

chore(release): 5.3.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

build(deps-dev): minor package upgrades
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

build(deps): update github actions
  .github/workflows/workflow.yml
Due: none

chore(release): 5.3.1
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Remove greenkeeper badge
  README.md
Due: none

feat: add 'next' ruleset
  README.md
  package.json
  rules/next.js
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

chore(release): 5.4.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: add flowtype/enforce-line-break rule
  rules/flowtype.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore: clean up husky files
  .husky/.gitignore
Due: none

build: reset lockfile
  yarn.lock
Due: none

chore(release): 5.5.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: enable new sonarjs rules
  index.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(release): 5.6.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: enable jest/max-nested-describe rule
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(release): 5.7.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

fix: add flowtype/interface-id-match tracking and update flow version
  rules/flowtype.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: enable @next/next/no-typos rule
  rules/next.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(release): 5.8.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: enable new next/inline-script-id and next/next-script-for-ga rules
  rules/next.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore: mark new react/prefer-exact-props as disabled
  rules/react.js
Due: node ./bin/eslint-globex -c index.js . --fix

Path conditions:
  node ./bin/eslint-globex -c index.js . --fix: any of: *.js
  prettier-package-json --use-tabs --write ./package.json: any of: package.json
