Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"node ./bin/eslint-globex -c index.js . --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}

refactor!: refactor into monorepo project
  .commitlintrc.cjs
  .eslintrc.js
  .github/workflows/workflow.yml
  .lintstagedrc
  .npmignore
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  LICENSE
  README.md
  package.json
  packages/core/bin/eslint-globex.js
  packages/core/index.js
  packages/core/package.json
  packages/flowtype/index.js
  packages/flowtype/package.json
  packages/jasmine/index.js
  packages/jasmine/package.json
  packages/jest/index.js
  packages/jest/package.json
  packages/next/index.js
  packages/next/package.json
  packages/node/index.js
  packages/node/package.json
  packages/react/index.js
  packages/react/package.json
  packages/typescript/index.js
  packages/typescript/package.json
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

build: setup conventional-changelog-cli
  CONTRIBUTING.md
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore: fix root package privacy
  CONTRIBUTING.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

chore(build): version up
  CONTRIBUTING.md
  packages/core/package.json
  packages/flowtype/package.json
  packages/jasmine/package.json
  packages/jest/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/typescript/package.json
Due: prettier-package-json --use-tabs --write ./package.json

fix: fix for broken flowtype configs
  README.md
  packages/flowtype/index.js
  packages/flowtype/package.json
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

docs: fix minor bug in release process docs
  CONTRIBUTING.md
Due: none

fix: add node env for "next" plugin
  packages/next/index.js
Due: node ./bin/eslint-globex -c index.js . --fix

docs: improve release steps
  CONTRIBUTING.md
Due: none

chore: version up
  CONTRIBUTING.md
  packages/core/package.json
  packages/flowtype/package.json
  packages/jasmine/package.json
  packages/jest/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/typescript/package.json
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint to ^8.23.1
  packages/core/package.json
Due: prettier-package-json --use-tabs --write ./package.json

build: fix broken CI builds
  .github/workflows/integration.yml
Due: none

fix(deps): update typescript-eslint monorepo to ^5.37.0
  packages/typescript/package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): reset lockfile
  yarn.lock
Due: none

build: version up
  CONTRIBUTING.md
  packages/core/package.json
  packages/flowtype/package.json
  packages/jasmine/package.json
  packages/jest/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/typescript/package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: add logical-assignment-operators but disable
  packages/core/index.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: disable new no-restricted-jest-methods rule
  packages/jest/index.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: add new vitest package
  packages/vitest/index.js
  packages/vitest/package.json
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

chore(build): version up
  packages/core/package.json
  packages/flowtype/package.json
  packages/jasmine/package.json
  packages/jest/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/typescript/package.json
  packages/vitest/package.json
Due: prettier-package-json --use-tabs --write ./package.json

fix: broken vitest rule declarations
  packages/vitest/index.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: enable @typescript-eslint/semi rule
  packages/typescript/index.js
Due: node ./bin/eslint-globex -c index.js . --fix

build: version up
  packages/core/package.json
  packages/flowtype/package.json
  packages/jasmine/package.json
  packages/jest/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/typescript/package.json
  packages/vitest/package.json
Due: prettier-package-json --use-tabs --write ./package.json

docs: add docs for Vitest rule set
  README.md
Due: none

feat: enable promise/no-multiple-resolved rule
  packages/core/index.js
Due: node ./bin/eslint-globex -c index.js . --fix

fix: invalid names in vitest plugin
  packages/vitest/index.js
Due: node ./bin/eslint-globex -c index.js . --fix
