Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

feat: break out Jasmine configs into a separate rule set
  .lintstagedrc
  README.md
  index.js
Due: node ./bin/eslint-globex -c index.js . --fix

fix: add missing jasmine rules file
  README.md
  rules/jasmine.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: break out the react rules into a file
  README.md
  index.js
  rules/react.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: break out flowtype rules
  README.md
  bin/eslint-globex.js
  index.js
  rules/flowtype.js
  rules/jasmine.js
  rules/jest.js
  rules/react.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(release): 2.8.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: creating clear steps for releases
  README.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

chore(release): 3.0.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

docs: fix bug in documentation
  README.md
Due: none

docs: another typo fix
  README.md
Due: none

docs: manually fix bad release
  CHANGELOG.md
  README.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

docs: another typo
  README.md
Due: none

docs: typo in docs
  README.md
Due: none

feat: disable jest/lowercase-name rule
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: flow-type switch from exact to inexact types
  rules/flowtype.js
Due: node ./bin/eslint-globex -c index.js . --fix

docs: modify release steps
  README.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

minor: remove bundled testing step from release
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

chore(release): 3.0.0-beta.1
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: turn off flowtype/require-inexact-type
  rules/flowtype.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(release): 3.0.0-beta.2
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: Enable new jest/no-deprecated-functions rule
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

Reset yarn.lock file
  yarn.lock
Due: none

feat: upgrade to ESLint 7 and the eslint-plugin-node plugin
  index.js
  package.json
  rules/node.js
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

chore: upgrade eslint-plugin-jest to 23.11.0
  package.json
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

chore: update lock file
  yarn.lock
Due: none

chore(release): 3.1.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

fix: specify that import/export is okay for no-unsupported-features
  rules/node.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(release): 3.1.1
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

fix: upgrade to eslint-plugin-jest 23.13.1 and remove deprecated rules
  package.json
  rules/jest.js
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

chore(release): 3.1.2
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

fix: broken flowtype/sort-keys changes
  rules/flowtype.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(release): 3.1.3
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Fix broken husky commands
  .huskyrc
Due: none

feat: Enable no-loss-of-precision rule
  index.js
Due: node ./bin/eslint-globex -c index.js . --fix

build(deps): bump eslint-plugin-flowtype from 5.1.0 to 5.1.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(release): 3.2.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: disable the react/display-name rule
  rules/react.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: Enable new no-unreachable-loop and no-promise-executor-return rules
  index.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: Migrate to new jest/no-conditional-expect rule
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

build(deps): yarn.lock reset
  yarn.lock
Due: none

Path conditions:
  node ./bin/eslint-globex -c index.js . --fix: any of: *.js
  prettier-package-json --use-tabs --write ./package.json: any of: package.json
