Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @next/eslint-plugin-next to ^12.1.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @babel/core to ^7.17.5
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-sonarjs to ^0.12.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): configure semantic-release
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/workflow.yml
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency chalk to v5
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore: fix husky install
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: disable sonarjs/no-inverted-boolean-check rule
  index.js
Due: node ./bin/eslint-globex -c index.js . --fix

Notes added by 'git notes add'
  5ee66a2b5930a86cdcf1e3c726c01a0e584077c0
Due: none

chore(deps): update yarn to v3.2.0
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.12.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix: don't run husky postinstall for users
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Notes added by 'git notes add'
  794f294e2c844b85206f0eba24923224400b1835
Due: none

chore(deps): update dependency prettier-package-json to v2.6.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update actions/setup-node action to v3
  .github/workflows/workflow.yml
Due: none

fix(deps): update dependency eslint-plugin-react to ^7.29.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint to ^8.10.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: add react/hook-use-state & react/iframe-missing-sandbox rules
  rules/react.js
Due: node ./bin/eslint-globex -c index.js . --fix

Notes added by 'git notes add'
  4bb86ba6158b1117a9cfb3aad56728da33b4b39c
Due: none

fix(deps): update dependency eslint-plugin-react to ^7.29.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: disable @typescript-eslint/strict-boolean-expressions rule
  rules/typescript.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: disable @typescript-eslint/no-floating-promises rule
  rules/typescript.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: disable @typescript-eslint/no-confusing-void-expression rule
  rules/typescript.js
Due: node ./bin/eslint-globex -c index.js . --fix

Notes added by 'git notes add'
  493c482a754ed8e42edde278d1d068f990183264
Due: none

feat: disable @typescript-eslint/consistent-type-assertions rule
  rules/typescript.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: remove deprecated eslint-plugin-cumul8 rules
  .github/workflows/workflow.yml
  .husky/commit-msg
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  index.js
  package.json
  rules/jest.js
  rules/react.js
  rules/typescript.js
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

Notes added by 'git notes add'
  b6a97ae6614ec0abdbc5e367334d4dfdcec28f77
Due: none

fix(deps): update typescript-eslint monorepo to ^5.13.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update actions/checkout action to v3
  .github/workflows/workflow.yml
Due: none

fix(deps): update dependency eslint-plugin-react to ^7.29.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Path conditions:
  node ./bin/eslint-globex -c index.js . --fix: any of: *.js
  prettier-package-json --use-tabs --write ./package.json: any of: package.json
