Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./packages/core/bin/eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"node ./packages/core/bin/eslint-globex . --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}

docs: add note for pnpm users
  README.md
Due: none

docs: update pnpm hoist-pattern
  README.md
Due: none

build: re-enable repo integration tests
  .github/workflows/integration.yml
Due: none

docs: fix README typo
  README.md
Due: none

chore: add no-untyped-mock-factory rule as off
  packages/jest/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

chore: reset lockfile
  .github/workflows/workflow.yml
  pnpm-lock.yaml
Due: none

chore: revert no-frozen-lockfile change
  .github/workflows/integration.yml
Due: none

chore: remove lockfile options entirely
  .github/workflows/integration.yml
  .github/workflows/workflow.yml
Due: none

chore: revert lockfile option again
  .github/workflows/integration.yml
  .github/workflows/workflow.yml
Due: none

docs: mark flowtype package as deprecated
  README.md
Due: none

build: reset lockfile
  pnpm-lock.yaml
Due: none

feat: enable new jsx-a11y/prefer-tag-over-role rule
  packages/react/index.js
  pnpm-lock.yaml
Due: node ./packages/core/bin/eslint-globex . --fix

feat: enable new jsx-a11y/no-aria-hidden-on-focusable rule
  packages/react/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: enable new jsx-a11y/anchor-ambiguous-text rule
  packages/react/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

fix: remove jsx-a11y/accessible-emoji deprecated rule
  packages/react/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

fix: remove jsx-a11y/no-onchange deprecated rule
  packages/react/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

build: integration ci tests need to handle 3rd party dependencies
  .github/workflows/integration.yml
Due: none

fix: disable jsx-a11y/no-aria-hidden-on-focusable rule
  packages/react/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

fix: migrate to new react/sort-default-props rule
  packages/react/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: enable new react/no-object-type-as-default-prop rule
  packages/react/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: enable new import/consistent-type-specifier-style rule
  packages/core/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

feat: mark new import/no-empty-named-blocks rule as off
  packages/core/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

build: version up
  packages/core/package.json
  packages/flowtype/package.json
  packages/jasmine/package.json
  packages/jest/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/typescript/package.json
  packages/vitest/package.json
Due: prettier-package-json --use-tabs --write ./package.json

chore(build): version up
  packages/core/package.json
  packages/flowtype/package.json
  packages/jasmine/package.json
  packages/jest/package.json
  packages/next/package.json
  packages/node/package.json
  packages/react/package.json
  packages/typescript/package.json
  packages/vitest/package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: enable new vitest/consistent-test-it rule
  packages/vitest/index.js
Due: node ./packages/core/bin/eslint-globex . --fix

build: lockfile update
  pnpm-lock.yaml
Due: none

feat: enable import/no-empty-named-blocks rule
  packages/core/index.js
  packages/core/package.json
  pnpm-lock.yaml
Due: node ./packages/core/bin/eslint-globex . --fix, prettier-package-json --use-tabs --write ./package.json

build: setup semantic-release-monorepo
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --use-tabs --write ./package.json

build: setup semantic-release for CI
  .github/workflows/workflow.yml
Due: none

build: fix broken pnpm install steps
  .github/workflows/workflow.yml
Due: none

Notes added by 'git notes add'
  c401d41a30a05a8d2b8f87b48cd0ceb21f64968e
Due: none
