Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"node ./bin/eslint-globex -c index.js . --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}

chore(deps): update dependency lint-staged to v12.4.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-react-hooks to ^4.5.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint to ^8.14.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: new "no-constant-binary-expression" rule
  index.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(deps): reset lock file
  yarn.lock
Due: none

Notes added by 'git notes add'
  3cf6862e61332f7c1099d93a6823b1600d313f7a
Due: none

chore(deps): update commitlint monorepo to v16.2.4
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @babel/core to ^7.17.10
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.22.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @next/eslint-plugin-next to ^12.1.6
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

feat: add @typescript-eslint/no-duplicate-enum-valuesrule
  rules/typescript.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: disable @next/next/link-passhref rule
  rules/next.js
Due: node ./bin/eslint-globex -c index.js . --fix

chore(deps): reset lockfile
  yarn.lock
Due: none

fix(deps): update dependency eslint to ^8.15.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency husky to v8
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency husky to v8.0.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.23.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Notes added by 'git notes add'
  6e7139a6ddd777818c87703212b8d20e72a42658
Due: none

chore(deps): update yarn to v3.2.1
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency @commitlint/cli to v16.3.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to ^26.2.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency eslint-plugin-jest to ^26.2.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update commitlint monorepo to v17
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @babel/core to ^7.17.12
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update typescript-eslint monorepo to ^5.24.0
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json
