Repository GlobexDesignsInc/eslint-config-globex: changes, and which lint-staged commands are due for each by the changed paths.
All: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

.lintstagedrc:

{
	"*.js": [
		"node ./bin/eslint-globex -c index.js . --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}

build: reset lockfile
  yarn.lock
Due: none

chore(release): 5.9.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: enable flowtype/no-duplicate-type-union-intersection-members and flowtype/sort-type-union-intersection-members rules
  rules/flowtype.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat: enable react/no-namespace rule
  rules/react.js
Due: node ./bin/eslint-globex -c index.js . --fix

build: reset lockfile and upgrade minor dependencies
  index.js
  package.json
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

chore(release): 5.10.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: enable new jest/prefer-expect-resolves and jest/prefer-to-be rules
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat!: update jest rules for eslint-plugin-jest@25
  rules/jest.js
Due: node ./bin/eslint-globex -c index.js . --fix

feat!: upgrade to eslint@8
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(release): 6.0.0-beta.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

feat: enable new no-unused-private-class-members rule
  index.js
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix

chore(release): 6.0.0-beta.1
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

Bump eslint-plugin-flowtype from 8.0.2 to 8.0.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(release): 6.0.0
  CHANGELOG.md
  package.json
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): add renovate.json
  .github/dependabot.yml
  .github/renovate.json
Due: none

Migrate to yarn@3
  .github/workflows/workflow.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarnrc.yml
  bin/eslint-globex.js
  package.json
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

Relax version requirements
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

Enable GH Actions cache
  .github/workflows/workflow.yml
Due: none

Another attempt at CI yarn cache
  .github/workflows/workflow.yml
Due: none

Create a CONTRIBUTING doc
  CONTRIBUTING.md
  README.md
Due: none

chore(deps): update dependency lint-staged to v12
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.0.1
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): update dependency lint-staged to v12.0.2
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

chore(deps): migrate to yarn@3
  .github/workflows/workflow.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-outdated.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarnrc.yml
  bin/eslint-globex.js
  package.json
  yarn.lock
Due: node ./bin/eslint-globex -c index.js . --fix, prettier-package-json --use-tabs --write ./package.json

docs: create a CONTRIBUTING doc
  CONTRIBUTING.md
  README.md
Due: none

chore(build): Use embedded GitHub Actions cache
  .github/workflows/workflow.yml
Due: none

chore(build): enable GH Actions cache
  .github/workflows/workflow.yml
Due: none

chore(deps): change renovate rangeStrategy
  .github/renovate.json
Due: none

fix(deps): update dependency @babel/eslint-parser to ^7.16.3
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json

fix(deps): update dependency @next/eslint-plugin-next to ^12.0.4
  package.json
  yarn.lock
Due: prettier-package-json --use-tabs --write ./package.json
